<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course


# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List popular languages for Data Science
- List popular libraries for Data Science
- List tools for Data Science
- Show a simple mathmetical expression

Some of the commonly used libraries used by Data Scientists include:


1. Python
2. R
3. SQL
4. Java
5. C++
6. Javascript
7. Julia

Some of the commonly used libraries used by Data Scientists:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit
6. TensorFlow
7. Pytorch
8. ApacheSpark

## Data Science Tools

| Data Science Tools |
| -------------------| 
| RStudio| 
| Apache Spark | 
| Ray |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [9]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
200/60

3.3333333333333335

## Author

君蓮